<!-- templates/index.html -->
<html lang=nl>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nl-design-system/uno/core/uno.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
<header class="header" role="banner">
  <div class="header-logo">
    <a href="." title="title">
      <span role="img" class="screenreader-only">Ministerie van Volksgezondheid, Welzijn en Sport</span>
    </a>
  </div>
</header>
<nav class="top-nav top-nav--geel">
  <div class="container">
    <ul class="nav">
      <li class="nav__item">
        <a href="/index.html" class="nav__link">Home</a>
      </li>
    </ul>
  </div>
</nav>

  <main class="skiplink-target main" id="content" tabindex="-1">
    <div class="container">
      <header class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="content">
            <section class="content__header">
              <h1 class="content__header-title">
                  {{ app_data.title }} 
              </h1>
              <p class="content__header-paragraph">
                  {{ app_data.description }} 
              </p>
            </section>
          </div>
        </div>
      </header>
