{% include 'header.html' %}

<div id="/blocks/controle-environments" class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="content-background">
      <div class=" row ">
          <div class="content">
            <header class="content__header">
              <h2 class="content__header-title">Controle Environment</h2>
              <p class="content__header-paragraph">
              <ul>
                  <li><a href="/verify/test/index.html">Verify Test Omgeving</a></li>
                  <li><a href="/verify/acceptatie/index.html">Verify Acceptatie Omgeving</a></li>
                  <li><a href="/verify/productie/index.html">Verify Productie Omgeving</a></li>
            </ul>
              </p>
            </header>
          </div>
        </div>
    </div>
  </div>
</div>

<div id="/blocks/responsible-disclosure" class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="content-background">
      <div class=" row ">
        <div class=" col-md-6  ">
          <div class="content">
            <header class="content__header">
              <h2 class="content__header-title">Beveiligingsproblemen melden</h2>
              <p class="content__header-paragraph">Een beveiligingsprobleem gevonden? We gaan hier secuur mee om.</p>
            </header>
            <p>Veiligheid van zowel de app als de backend is een topprioriteit. Als je een
beveiligingsprobleem ontdekt, willen we hier graag van horen zodat we stappen
kunnen ondernemen om het op te lossen.</p>
	<p>Er is een <a href="https://en.wikipedia.org/wiki/Responsible_disclosure">responsible disclosure beleid</a> waarin uitgelegd wordt hoe je je bevindingen aan ons kan melden</p>
            <a class="btn" href="https://github.com/minvws/nl-covid19-notification-app-coordination/security/policy" rel="external">
              Naar Responsible Disclosure-beleid
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content">
            <figure class="side-image">
              <img src="/static/img/logo-ncsc.svg" class="responsive" width="" alt="Nationaal Cyber Security centrum" />
              <figcaption>Een beveiligingsprobleem melden gebeurt bij het Nationaal Cyber Security Centrum.</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

{% include 'footer.html' %}
