<h2>Environment test</h2>
<h3>Service test::api</h3>
  testcoronamelder-api.nl <b>OK</b>
<h3>Service test::dist</h3>
  testcoronamelder-dist.nl <b>OK</b>
<h3>Service test::portal</h3>
  testcoronamelder-portal.nl <b>OK</b>
<h2>Environment acceptatie</h2>
<h3>Service acceptatie::api</h3>
  acceptatiecoronamelder-api.nl <b>OK</b>
<h3>Service acceptatie::dist</h3>
  acceptatiecoronamelder-dist.nl <b>OK</b>
<h3>Service acceptatie::portal</h3>
  acceptatiecoronamelder-portal.nl <b>OK</b>
<h2>Environment productie</h2>
<h3>Service productie::api</h3>
  productiecoronamelder-api.nl <b>Not yet available/error</b>
<h3>Service productie::dist</h3>
  productiecoronamelder-dist.nl <b>OK</b>
<h3>Service productie::portal</h3>
  productiecoronamelder-portal.nl <b>Not yet available/error</b>
<i>Last ran</i>zo  9 aug 2020 17:35:35 CEST
