<p>
<h2>Environment test</h2>
  test.coronamelder-api.nl <b>OK</b>
<br>
  test.coronamelder-dist.nl <b>OK</b>
<br>
  test.coronamelder-portal.nl <b>OK</b>
<br>
</p>
<p>
<h2>Environment acceptatie</h2>
  acceptatie.coronamelder-api.nl <b>OK</b>
<br>
  acceptatie.coronamelder-dist.nl <b>OK</b>
<br>
  acceptatie.coronamelder-portal.nl <b>OK</b>
<br>
</p>
<p>
<h2>Environment productie</h2>
  productie.coronamelder-api.nl <b>Not yet available/error</b>
<br>
  productie.coronamelder-dist.nl <b>OK</b>
<br>
  productie.coronamelder-portal.nl <b>Not yet available/error</b>
<br>
</p>
<p><i>Bijgewerkt: zo  9 aug 2020 18:11:33 CEST</i>
