{% include 'header.html' %}

<div id="/blocks/controle-environments" class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="content-background">
      <div class=" row ">
          <div class="content">
            <header class="content__header">
              <h2 class="content__header-title">Controle Environment detail</h2>
              <p class="content__header-paragraph">{{ exposure_keyset }}</p>
            </header>
            <p>{% include keyset_detail_include %}</p>
          </div>
        </div>
    </div>
  </div>
</div>



</main>
{% include 'footer.html' %}
